
html, body {
    margin: 0;
    padding: 0;
    background: ;
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Open Sans', sans-serif;
}

#zonetxt {
    float: left;
    display: block;
    width: 480px;
}

#clear {
    clear: both;
}
