
html, body {
    margin: 0;
    padding: 0;
    background: ;
    /*font-family: 'Playfair Display', serif;*/
    font-family: 'Open Sans', sans-serif;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 135px;
}

#ocean {
    height: 70px;
    background-image: url(images/hero.png);
    background-position: center;

}

h1 {
    text-align: center;
    line-height: 70px;
    color: white;

}

#all {
    width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}


#zoneimage {
    float: left;
    margin-bottom: 30px;
}

.groupe
{
    width: 310px;
    height: 199px;
    
}

#zoneimage > img:nth-child(even)
{
    margin-right: 0px;
}

#zoneimage>a
{
    display: block ;
    float: left;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 310px;
    text-align: center;
}

#zoneimage
{
    margin-left: -30px;
}

#fond {
    background-color: black;
    height: 167px;
}

#margin {
    width: 990px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
}

#logo2 {
    float: right;
    margin-right: 25px;
    margin-top: 50px;
}

#menu li {
    display: inline-block;
    margin-top: 70px;
    margin-right: 50px;

}

#menu li a {
    color: white;
    text-decoration: none;
}

#menu {
    margin-left: 25px;
    padding-left: 0px;
}